body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_article26LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F7F7F7;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#article26LayoutGrid1
{
   box-sizing: border-box;
   padding: 100px 0 0 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#article26LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#article26LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#article26LayoutGrid1 > .row > .col-1
{
   float: left;
}
#article26LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#article26LayoutGrid1:before,
#article26LayoutGrid1:after,
#article26LayoutGrid1 .row:before,
#article26LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#article26LayoutGrid1:after,
#article26LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#article26LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_article26Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 30px 0 ;
   padding: 0;
   text-align: center;
}
#article26Heading
{
   color: #232323;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_article26Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 50px 0 ;
   text-align: center;
}
#wb_article26Text
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_article26Text p, #wb_article26Text ul
{
   margin: 0;
   padding: 0;
}
#wb_article26Text
{
   display: block;
   margin: 0 0 50px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_gallery3LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#gallery3LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#gallery3LayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#gallery3LayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#gallery3LayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#gallery3LayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_gallery3Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 15px 0 ;
   padding: 0;
   text-align: center;
}
#gallery3Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#gallery3PhotoGallery
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#gallery3PhotoGallery .thumbnails
{
   margin: 0;
}
#gallery3PhotoGallery .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 15px 15px 15px 15px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#gallery3PhotoGallery .caption
{
   color: #969696;
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 10px 0 10px 0;
   position: relative;
}
#gallery3PhotoGallery .description
{
   color: #969696;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-align: center;
}
#gallery3PhotoGallery .thumbnail a
{
   display: block;
   position: relative;
}
#gallery3PhotoGallery .thumbnail a:hover .caption
{
   opacity: 0.78
}
#gallery3PhotoGallery .thumbnail img
{
   border: 0px solid #DDDDDD;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#gallery3PhotoGallery .clearfix:before,
#gallery3PhotoGallery .clearfix:after,
#gallery3PhotoGallery .thumbnails:before,
#gallery3PhotoGallery .thumbnails:after
{
   display: table;
   content: " ";
}
#gallery3PhotoGallery .clearfix:after,
#gallery3PhotoGallery .thumbnails:after
{
   clear: both;
}
#gallery3PhotoGallery .visible-col4
{
   display: none;
}
#wb_numbers16LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#numbers16LayoutGrid1
{
   box-sizing: border-box;
   padding: 100px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#numbers16LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#numbers16LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#numbers16LayoutGrid1 > .row > .col-1
{
   float: left;
}
#numbers16LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#numbers16LayoutGrid1:before,
#numbers16LayoutGrid1:after,
#numbers16LayoutGrid1 .row:before,
#numbers16LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#numbers16LayoutGrid1:after,
#numbers16LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#numbers16LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_numbers16Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: center;
}
#numbers16Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_numbers16Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 0 20px 0;
   margin: 0 0 30px 0 ;
   text-align: center;
}
#wb_numbers16Text1
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_numbers16Text1 p, #wb_numbers16Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_numbers16Text1
{
   display: block;
   margin: 0 0 30px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#numbers16Progressbar1
{
   margin: 0;
   position: relative;
}
#numbers16Progressbar1
{
   --percentage: 0;
   height: 0;
   padding-top: 100%;
}
#numbers16Progressbar1 .progress-bar
{
   height: 0;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   transition: width 1500ms linear;
   width: calc(var(--percentage) * 1%);
}
#numbers16Progressbar1 .progress-bar-value
{
   background-color: #DCDCDC;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}
#numbers16Progressbar1 .progress-bar-mask,
#numbers16Progressbar1 .progress-bar-bg
{
   border-radius: 50%;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
   width: 100%;
}
#numbers16Progressbar1 .progress-bar-mask
{
   clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}
#numbers16Progressbar1 .progress-bar-mask .progress-bar-bg
{
   clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
   background-color: #0D6EFD;
   background-image: none;
}
#numbers16Progressbar1 .progress-bar-mask.transform,
#numbers16Progressbar1 .progress-bar-bg
{
   transform: rotate(calc(var(--percentage) * 1.8deg));
   transition: transform 1500ms linear;
}
@keyframes numbers16Progressbar1-animation
{
   0% { background-position-x: 1rem; }
}
#numbers16Progressbar1 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 50%;
   height: calc(100% - 30px);
   left: 15px;
   top: 15px;
   width: calc(100% - 30px);
   text-align: center;
   color: #0D6EFD;
   font-family: "Open Sans";
   font-weight: 700;
   font-size: 32px;
   font-style: normal;
}
#wb_numbers16Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 0 20px 0;
   margin: 20px 0 20px 0 ;
   text-align: center;
}
#wb_numbers16Text2
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_numbers16Text2 p, #wb_numbers16Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_numbers16Text2
{
   display: block;
   margin: 20px 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_numbers16Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 0 20px 0;
   margin: 20px 0 20px 0 ;
   text-align: center;
}
#wb_numbers16Text3
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_numbers16Text3 p, #wb_numbers16Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_numbers16Text3
{
   display: block;
   margin: 20px 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#numbers16Progressbar2
{
   margin: 0;
   position: relative;
}
#numbers16Progressbar2
{
   --percentage: 0;
   height: 0;
   padding-top: 100%;
}
#numbers16Progressbar2 .progress-bar
{
   height: 0;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   transition: width 1500ms linear;
   width: calc(var(--percentage) * 1%);
}
#numbers16Progressbar2 .progress-bar-value
{
   background-color: #DCDCDC;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}
#numbers16Progressbar2 .progress-bar-mask,
#numbers16Progressbar2 .progress-bar-bg
{
   border-radius: 50%;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
   width: 100%;
}
#numbers16Progressbar2 .progress-bar-mask
{
   clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}
#numbers16Progressbar2 .progress-bar-mask .progress-bar-bg
{
   clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
   background-color: #0D6EFD;
   background-image: none;
}
#numbers16Progressbar2 .progress-bar-mask.transform,
#numbers16Progressbar2 .progress-bar-bg
{
   transform: rotate(calc(var(--percentage) * 1.8deg));
   transition: transform 1500ms linear;
}
@keyframes numbers16Progressbar2-animation
{
   0% { background-position-x: 1rem; }
}
#numbers16Progressbar2 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 50%;
   height: calc(100% - 30px);
   left: 15px;
   top: 15px;
   width: calc(100% - 30px);
   text-align: center;
   color: #0D6EFD;
   font-family: "Open Sans";
   font-weight: 700;
   font-size: 32px;
   font-style: normal;
}
#numbers16Progressbar3
{
   margin: 0 0 20px 0 ;
   position: relative;
}
#numbers16Progressbar3, #numbers16Progressbar3 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#numbers16Progressbar3, #numbers16Progressbar3 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#numbers16Progressbar3
{
   border: 0px solid #3C3C3C;
   background-color: #DCDCDC;
   background-image: none;
}
#numbers16Progressbar3 .ui-widget-header
{
   border-color: #0D6EFD;
   background-color: #0D6EFD;
   background-image: none;
   transition: width 1500ms linear;
}
#numbers16Progressbar3 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#numbers16Progressbar4
{
   margin: 0 0 20px 0 ;
   position: relative;
}
#numbers16Progressbar4, #numbers16Progressbar4 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#numbers16Progressbar4, #numbers16Progressbar4 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#numbers16Progressbar4
{
   border: 0px solid #3C3C3C;
   background-color: #DCDCDC;
   background-image: none;
}
#numbers16Progressbar4 .ui-widget-header
{
   border-color: #0D6EFD;
   background-color: #0D6EFD;
   background-image: none;
   transition: width 1500ms linear;
}
#numbers16Progressbar4 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#numbers16Progressbar5
{
   margin: 0 0 20px 0 ;
   position: relative;
}
#numbers16Progressbar5, #numbers16Progressbar5 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#numbers16Progressbar5, #numbers16Progressbar5 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#numbers16Progressbar5
{
   border: 0px solid #3C3C3C;
   background-color: #DCDCDC;
   background-image: none;
}
#numbers16Progressbar5 .ui-widget-header
{
   border-color: #0D6EFD;
   background-color: #0D6EFD;
   background-image: none;
   transition: width 1500ms linear;
}
#numbers16Progressbar5 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#numbers16Progressbar6
{
   margin: 0 0 20px 0 ;
   position: relative;
}
#numbers16Progressbar6, #numbers16Progressbar6 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#numbers16Progressbar6, #numbers16Progressbar6 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#numbers16Progressbar6
{
   border: 0px solid #3C3C3C;
   background-color: #DCDCDC;
   background-image: none;
}
#numbers16Progressbar6 .ui-widget-header
{
   border-color: #0D6EFD;
   background-color: #0D6EFD;
   background-image: none;
   transition: width 1500ms linear;
}
#numbers16Progressbar6 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#numbers16Progressbar7
{
   margin: 0;
   position: relative;
}
#numbers16Progressbar7, #numbers16Progressbar7 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#numbers16Progressbar7, #numbers16Progressbar7 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#numbers16Progressbar7
{
   border: 0px solid #3C3C3C;
   background-color: #DCDCDC;
   background-image: none;
}
#numbers16Progressbar7 .ui-widget-header
{
   border-color: #0D6EFD;
   background-color: #0D6EFD;
   background-image: none;
   transition: width 1500ms linear;
}
#numbers16Progressbar7 .progress-bar-text
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#YouTube1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
